KIWI_HOST=0.0.0.0
KIWI_API_PORT=3333
KIWI_WEB_ORIGIN=http://localhost:4173
KIWI_DATA_DIR=./data
# Colon-separated absolute media directories. Example:
# KIWI_MEDIA_DIRS=/mnt/media/videos:/mnt/media/music:/mnt/media/photos
